

.open-sans-uniquifier {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.header{
    background-image: url('./images/developer.png'),url('./images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;

}
nav ul{
    display: flex;
    align-items: center;
   
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav li a{
    text-decoration: none;
}
.nav-title{
    font-weight: 800; 
    font-size: 45px;
}
.font-color{
    color: #FD6E0A;
}
.font-color2{
    color: #181818;
}

.button-style{
    border-radius: 5px;
    background-color:#FD6E0A ;
    font-weight: bold;
    font-size: 20px;
    padding: 18px 35px;
    color: #FFFFFF;
    border: none;
}
.button-style:hover {
    background-color: aqua;
}
.color-bg{
    color: #FD6E0A;
}
.banner{
    display: flex;
    justify-content: space-between;
     padding: 0 35px 0 200px;
}
.greetings{
    font-weight: 700;
    font-size: 45px;
   
}
.name{
    font-weight: bold;
    font-size: 85px;
    color:#181818 ;
}
.para{
    font-weight: 600;
    font-size: 18px;
    color: #757575;

}
.pic{
    width: 584px;
    height: 676px;
}
.sec-bg{
    background-color: #FFF8F3;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
    margin-bottom:130px ;
}
.about-bg{
    padding: 131px 157px ;
}
.about-items{
    display: flex;
    justify-content: space-around;
  
}
.item-description{
    font-weight: bold;
}
.skills{
padding: 130px auto;
}
.title{
text-align: center;
font-weight: bold;
font-size: 35px;

}
.description{
text-align: center;
color: #757575;
font-weight: 600;
font-size: 18px;

}
.card-item{
display: flex;
gap: 24px;

}
.sk{
margin-right: 60;
box-shadow:0px 6px 50px 0px white;
padding: 30px;
border-radius: 5px;
}
.img{
    padding: 30px 193px 30px 303px;
}
.edu-exp{
    display: flex;
    gap: 71px;
}
.sec-title{
    text-align: center;
}
.button-cv{
    margin-top: 50px;
}
.h3E{
    color: #757575;
}
.ep{
    font-weight: 600;
    font-size: 16px;
    color: #757575;
}
.footer{
    display: flex;
    gap: 100px;
}
footer input[type="text"], footer input[type="email"], footer input[type="name"]{
    display: block;
    margin: 10px 20px;
    background-color: white;
    margin-bottom: 24px;
    width: 80%;
    border-radius: 5px;
    height: 64px;
    border: none;
    padding-right: 20px;
}
.left{
    width: 50%;
    margin-left: 180px;
}
.right{
    width: 50%
}
footer button[type="submit"]{
    margin-bottom: 130px;
}

.hide{
    display: none;
}
@media screen and (max-width:576px){
    .card-item,.edu-exp ,.about-items, .footer,
    .banner,nav ul,nav
    {
        flex-direction: column;
    }
    .header{background-position: auto;}
    .right{
        width: 100%;
        
    }
    .left{
        margin-left: 0px;
    }
    .about-bg{
        padding: 0px;
    }
    nav ul ,.content button{
        gap: 20px;
    }
    .banner{
        padding: 0px 35px 0px 35px;
    }
    body{
        margin: 0%;
    }

}
